

nav.navbar.navbar-inverse {
    background-color: #56494C;
    
}

ul:a {
    color: black; 
}

.navbar-inverse .navbar-brand{
   
    color: #b9c0da;
}

.jumbotron  h1 {
    text-align: left  !important;;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  !important;
}

.jumbotron p {
    text-align: left !important;
}

.headshot img {
    background-color:#fff  !important;
    float: right  !important;
    height:350px  !important;
    width:370px  !important;
    border-radius: 50%  !important;
    
    
    
}

.headshot {
    margin-right: 200px !important;
    margin-left: 150px  !important;
    height: 500px !important;

    
    
    
    

}

.jumbotron {
    background-color: #CDC5B4 !important;

    
}

.headshot h3 {
    font-size: 35px !important;
    font-family:'Lucida Sans' !important;
    margin-top: 30px !important;
}

body {
    background-color: #AFBFC0 !important;
    
}

.headshot p {
    font-size: 20px !important;

}

