

nav.navbar.navbar-inverse {
    background-color: black;
    font-family: Abhaya Libre;
    font-size: 20px;
    
}



ul:a {
    color: black; 
}

.navbar-inverse .navbar-brand{
   
    color: #b9c0da;
    font-size: 20px;
}

.jumbotron  h1 {
    text-align: left  !important;;
}

.jumbotron p {
    text-align: left !important;
}



.headshot {
    margin-right: 200px !important;
    margin-left: 150px  !important;
    height: 500px !important;
    font-family: Abhaya Libre !important;
    
    
    
    
    

}



.headshot h3 {
    font-size: 35px !important;
    font-family: Abhaya Libre !important;
    margin-top: 30px !important;
}


.headshot p {
    font-size: 25px !important;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }