

nav.navbar.navbar-inverse {
    background-color: #56494C;
    
}

ul:a {
    color: black; 
}

.navbar-inverse .navbar-brand{
   
    color: #b9c0da;
}

.jumbotron h1 {
    text-align: left;
   
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.education {
    margin-right: 200px;
    margin-left: 150px;
    height: 400px;
    
    
    
    
    
    

}

.jumbotron {
    background-color: #CDC5B4 !important;
    margin-bottom: 10px !important;

    
}

 h3 {
    font-size: 35px;
    text-align: left;
    height: 2px;
    
}

body {
    background-color: #CDC5B4 !important;
    
}

 

 p {
    font-size: 20px;
    text-align: left;

}

.GPA p {
    float: right;

    

}

hr {
    height: 2px;
}




a.nav-link.active {
    color: #56494C;
}

.container-fluid {
    margin-top: 0px;
}



h2 {
    font-family:'Lucida Sans' !important;
    margin-bottom: 0px !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }