

nav.navbar.navbar-inverse {
    background-color: #56494C;
    
}

ul:a {
    color: black; 
}

.navbar-inverse .navbar-brand{
   
    color: #b9c0da;
}

.jumbotron h1 {
    text-align: left;
   
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headshot img {
    background-color:#fff;
    float: right;
    height:350px;
    width:370px;
    border-radius: 50%;
    
    
    
}

.education {
    margin-right: 200px;
    margin-left: 150px;
    height: 500px;
    
    
    
    

}

.jumbotron {
    background-color: #CDC5B4 !important;

    
}

.education h3 {
    font-size: 35px;
    text-align: left;
}

body {
    background-color: #AFBFC0 !important;
    
}

.headshot p {
    font-size: 20px;

}

.education p {
    font-size: 20px;
    text-align: left;

}

.GPA p {
    float: right;
    

}