

nav.navbar.navbar-inverse {
    background-color: black;
    font-family: Abhaya Libre;
    font-size: 20px;
    
}

ul:a {
    color: black; 
}

.navbar-inverse .navbar-brand{
   
    color: #b9c0da;
    font-size: 20px;
}

.jumbotron h1 {
    text-align: left;
   
    
    font-family: Abhaya Libre !important;
}



.education {
    margin-right: 200px;
    margin-left: 150px;
    height: 400px;
    
    
    
    
    
    

}

b {
    font-family: Abhaya Libre !important;
}





 h3 {
    font-size: 35px;
    text-align: left;
    height: 2px;
    font-family: Abhaya Libre !important;
    
}



 

 p {
    
    text-align: left;
    font-family: Abhaya Libre !important;

}

.GPA p {
    float: right;

    

}

hr {
    height: 2px;
}




a.nav-link.active {
    color: #56494C;
}





h2 {
    font-family: Abhaya Libre !important;
    font-size: 35px !important;
    margin-bottom: 0px !important;

}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-family: Abhaya Libre !important;
    
  }

  .content ul {
    padding-left: 0;
  }
  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 5px;
    font-family: Abhaya Libre !important;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: Abhaya Libre !important;
    padding-left: 10px;
  }

  .download {
    text-align: left;

  }


  p {
    font-family: Abhaya Libre !important;
  }

.button:hover {
  background-color: #ccc;

}

button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 12px 17px;
  border-radius: 50px;
  background-color: #6f2b740d;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  font-family: Abhaya Libre;
  margin-bottom: 10px;
  
  
  
} 